# ==========================================
# OpenTofu / Terraform
# ==========================================
# ห้ามเอาไฟล์ Binary และ Provider ขึ้นเด็ดขาด (ตัวที่ทำให้พัง)
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# ==========================================
# Node.js
# ==========================================
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments (Conda / Venv)
venv/
.venv/
env/
miniconda3/
.conda/

# ==========================================
# ความลับและอื่นๆ (สำคัญมาก!)
# ==========================================
.env
.env.*
*.pem
# .tfvars
# terraform.tfvars

# VS Code settings
.vscode/

# Mac OS specific files
.DS_Store
.AppleDouble
.LSOverride
Icon

# Logs
*.log
